@import './../../../utils/mixins';
.navbar{
    width: 80%;
    height: 120px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 4px solid var(--color-price-desc);
    .nav{
        display: flex;
        height: 100%;
        gap: 50px;
        &__button{
            display: none;
            .btn{
                @include btn();
                background-color: transparent;
                height: 18px;
                img{
                    height: 100%;
                }
            }
            @media only screen and (max-width:880px) {
                @include centrar();
            }
        }
        @media only screen and (max-width:880px) {
            gap: 20px;
        }
    }

    .components{
        display: flex;
        align-items: center;
        gap: 10px;
        .user{
            position: relative;
            &__login{
                height: 50px;
                padding: 5px 0px;
                background-color: var(--color-orange);
                border-radius: 10px;
                text-align: center;
                color: white;
                cursor:pointer;
            }
            &__links{
                width: 120px;
                position: absolute;
                top: 60px;
                right: 0px;
                background-color: white;
                border-radius: 5px;
                box-shadow: 0px 0px 40px -20px black;
                &__item{
                    display: inline-block;
                    width: 100%;
                    color: black;
                    padding: 10px 10px;
                    cursor: pointer;
                    &:hover{
                        background-color: var(--color-price-desc)
                    }
                }
            }
            &__image{
                @include redondear(50px);
                border: 2px solid var(--color-orange);
                img{
                    width: 100%;
                }    
            }
            
        }
    }

    .nav__link{
        @include centrar();
    }

    @media only screen and (max-width:375px) {
        width: 90%;
    }
}