@import './../../../../utils/mixins';
.content{
    width: 65%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin: 50px auto;

    .product{
        width: 100%;
        height: 100%;
        margin: 20px auto;
        padding-top: 40px;
        &__company{
            font-size: 12px;
            font-weight: 700;
            color: var(--color-orange);
        }

        &__name{
            font-size: 32px;
            margin: 10px 0px;
        }

        &__description{
            color: var(--color-paragraph);
            margin: 20px 0px;
        }

        &__price{
            .price{
                display: flex;
                gap: 20px;
                font-size: 23px;
                .product__discount{
                    font-size: 12px;
                    font-weight: 700;
                    padding: 5px 7px;
                    border-radius: 2px;
                    background-color: var(--color-bg-price);
                    color: var(--color-orange);
                }
            }
            &--desc{
                display: block;
                font-size: 14px;
                font-weight: 700;
                margin: 5px 0px;
                color: var(--color-paragraph);
                text-decoration-line: line-through;
            }
            @media only screen and (max-width: 430px){
                display: flex;
                justify-content: space-between;
            }
        }

        .form{
            width: 100%;
            height: 40px;
            margin-top: 30px;
            display: flex;
            gap: 10px;
            &__count{
                width: 120px;
                display: flex;
                background-color: blue;
                .count__item{
                    width: 40px;
                    height: 40px;
                    @include btn();
                    @include centrar();
                    background-color: var(--color-price-desc);
                }
                .count{
                    width: 40px;
                    height: 40px;
                    font-weight: 700;
                    @include centrar();
                    background-color: var(--color-price-desc);
                    @media only screen and (max-width:880px) {
                        width: calc(100% - 80px);
                    }
                }
                @media only screen and (max-width:880px) {
                    width: 100%;
                }
            }
            .btn{
                @include btn();
                background-color: var(--color-orange);
                width: 100%;
                height: 40px;
                color: white;
                font-size: 14px;
                font-weight: 700;
                border-radius: 10px;
                img{
                    width: 18px;
                    margin-right: 10px;
                }
            }

            @media only screen and (max-width:880px) {
                height: 90px;
                flex-direction: column;
            }
        }

        @media only screen and (max-width: 430px){
            padding: 0px 20px;
            margin: 0px;
        }
    }

    @media only screen and (max-width:1150px) {
        width: 80%;
    }
    @media only screen and (max-width:880px) {
        grid-template-columns: 1fr;
    }
    @media only screen and (max-width: 430px){
        width: 100%;
        margin: 0px;
        margin-bottom: 50px;
    }
}