<div class="app" [class.scrollOff]="useService.scrollOff">
  <app-header></app-header> 
  <main class="main">
    <div class="head component">
      <img src="./assets/images/logo-mastercraft.svg" alt="" class="head__logo_master">
      <div class="head__texts">
        <h1 class="head__texts_title">Mastercraft Bamboo Monitor Riser</h1>
        <p>A beautiful & handcrafted monitor stand to reduce neck and eye strain.</p>
      </div>
      <div class="head__btns">
        <button class="head__btn" (click)="useService.scrollOff=!useService.scrollOff">Back this project</button>
        <button class="head__btn bookmark"><img src="./assets/images/icon-bookmark.svg" alt="bookmark" width="30"> Bookmark</button>
      </div>
    </div>
    <div class="counter component">
      <div class="counter__details">
        <div class="counter__count">
          <strong>${{useService.project.collected.toLocaleString()}}</strong>
          <p>of ${{useService.project.total.toLocaleString()}} backed</p>
        </div>
        <div class="counter__count counter__count--div">
          <strong>{{ useService.project.backers.toLocaleString() }}</strong>
          <p>total backers</p>
        </div>
        <div class="counter__count">
          <strong>{{ useService.project.days_left}}</strong>
          <p>days left</p>
        </div>
      </div>
      <div class="counter__barra">
        <div class="counter__barra_div" [style.width.%]="useService.project.collected / 1000"></div>
      </div>
    </div>
    <app-about-project></app-about-project>
    <app-form></app-form>
  </main>  
</div>

