@import './../../../../utils/mixins';
.content__images{
    width: 350px;
    .image{
        width: 100%;
        height: 350px;
        position: relative;
        display: flex;
        border-radius: 15px;
        overflow: hidden;
        margin-bottom: 20px;
        .img{
            width: 100%;
            height: 100%;
        }
        &__navegation{
            width: 100%;
            position: absolute;
            padding: 0px 20px;
            display: none;
            .btn{
                @include btn();
                @include centrar();
                @include redondear(40px);
                background-color: white;
            }
            @media only screen and (max-width: 430px){
                display: flex;
                justify-content: space-between;
            }
        }
        @media only screen and (max-width: 430px){
            margin-bottom: 0px;
            border-radius: 0px;
            align-items: center;
        }
    }
    .list__images{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 20px;
        .list__item{
            height: 72px;
            border-radius: 10px;
            overflow: hidden;
            display: flex;
            .img{
                width: 100%;
                height: 100%;
            }
            &.select{
                position: relative;
                border: 3px solid var(--color-orange);
                &::before{
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(255, 255, 255, 0.703);
                }
            }
        }
        @media only screen and (max-width: 430px){
            display: none;
        }
    }
    @media only screen and (max-width:880px) {
        width: 100%;
    }
}