<ul class="links" [class.open]="navbar">
    <div class="links__content">
        <li class="links__item links__item--button">
            <button class="btn" (click)="closeNavbar()"><img src="assets/images/icon-close.svg" alt=""></button>
        </li>
        <li class="links__item">
            <a routerLink="admin/products" class="link">Ver Productos</a>
        </li>
        <li class="links__item">
            <a routerLink="admin/products/add" class="link">Agregar producto</a>
        </li>
        <li class="links__item">
            <a routerLink="login" class="link">Login</a>
        </li>
        <!-- <li class="links__item">
            <a href="#" class="link">Collections</a>
        </li>
        <li class="links__item">
            <a href="#" class="link">Men</a>
        </li>
        <li class="links__item">
            <a href="#" class="link">Women</a>
        </li>
        <li class="links__item">
            <a href="#" class="link">About</a>
        </li>
        <li class="links__item">
            <a href="#" class="link">Contact</a>
        </li> -->
    </div>
</ul>