@mixin btn(){
    border: none;
    outline: none;
    cursor: pointer;
    font-family: 'Kumbh Sans', sans-serif;
}

@mixin centrar(){
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin redondear($tamaño){
    width: $tamaño;
    height: $tamaño;
    border-radius: 50%;
}