$color_orange: hsl(26, 100%, 55%);
$color_bg_price: hsl(25, 100%, 94%);
$color_dark_blue: hsl(220, 13%, 13%);
$color_paragraph: hsl(219, 9%, 45%);
$color_links: hsl(220, 14%, 75%);
$color_price_desc: hsl(223, 64%, 98%);
$color_bg_select: rgba(0, 0, 0, 0.755);

$font_family: 'Kumbh Sans', sans-serif;