<div class="cart">
    <button class="cart__btn" (click)="contentOpen()">
        <img src="assets/images/icon-cart.svg" alt="">
    </button>
    <div class="cart__count">
        {{ cartService.countCart }}
    </div>
    <div class="cart__content" *ngIf="open">
        <div class="cart__title">
            <strong>Cart</strong>
        </div>
        <div class="cart__products" *ngIf="productsCart.length>0">
            <div class="cartItem" *ngFor="let productCart of productsCart; let i = index">
                <img src="https://firebasestorage.googleapis.com/v0/b/prueba-tienda-42155.appspot.com/o/productos%2F{{productCart.image}}?alt=media" alt="" class="cartItem__image" width="60">
                <span class="cartItem__description">{{ productCart.name }} ${{ productCart.price.toFixed(2) }} x {{ productCart.count }} <strong>
                    ${{ productCart.total.toFixed(2) }}
                </strong></span>
                <button class="cartItem__remove" (click)="removeFromCart(i)">
                    <img src="assets/images/icon-delete.svg" alt="">
                </button>
            </div>
            <button class="btn__chekout">Checkout</button>
        </div>
        <div class="cart__message" *ngIf="productsCart.length == 0">
            <strong>
                Your cart is empty
            </strong>
        </div>
    </div>
</div>


